name: Daily News Scan

on:
  schedule:
    - cron: '0 6,10,14,18 * * *' # Τρέχει 4 φορές τη μέρα
  workflow_dispatch: # Επιτρέπει χειροκίνητο τρέξιμο

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Bot Script
        env:
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
        run: python auto_bot.py
